<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>WaveOrb - Mass Send Programmable Messages</title>
    <link href="/app.css" type="text/css" rel="stylesheet" media="all">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.css">
  </head>
  <body>
    <section class="content">

      <section class="flash">


      </section>
      <section class="view"><div class="home">
  <img src="/logo-original-green@256.png" alt="WaveOrb Logo" height="128" width="128">
  <h1 class="logo-text">WaveOrb</h1>
  <p>Broadcast programmable messages and manage your clients</p>

  <div class="buttons">
    <a class="btn" href="/login">Get started</a>
  </div>
</div>
</section>
    </section>
    <script src="/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.21.0/codemirror.js"></script>
  </body>
</html>
